<div class="container">

  <!--Busca por produto e categoria-->

  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="col-md-12">
        <h3 class="text-center mb-4 text-monospace">Qual produto você está buscando?</h3>

        <div class="form-group">
          <label class="text-monospace" for="titulo">Categoria:</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite aqui">
        </div>

        <div class="form-group">
          <label class="text-monospace" for="texto">Produto:</label>
          <textarea class="form-control" id="texto" cols="30" rows="1" placeholder="Digite aqui"></textarea>
        </div>
        <a href="#" class="btn btn-success">Buscar</a>
      </div>
    </div>

  </div>
  <!--Cards de produtos-->
  <div class="container">
    <div class="row d-flex justify-content-center" >
      <div class="col-md-12 m-4 d-flex justify-content-center" *ngFor="let item of listaProdutos">
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Uva</h5>
            <p class="card-text text-monospace">R$ 15.99 / kg</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: BANANAO TOP</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>

      <div class="col-md-12 m-4 d-flex justify-content-center" *ngFor="let item of listaProdutos">
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
        <div class="card m-2"  style="width: 18rem;">
          <img src="https://d26lpennugtm8s.cloudfront.net/stores/746/397/products/uva-benitaka-114121-69ce92a4de840db95615222221953660-640-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Produto: {{item.nome}}</h5>
            <p class="card-text">Produto: {{item.nome}}</p>
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  