<div class="container">

  <div class="row mt-5 mb-5 d-flex justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mt-5">Tem certeza que deseja excluir essa Categoria?</h2>
      <div class="card mt-5">

        <div class="card-body">
          <p class="card-text" aria-describedby="texto">{{categoria.nome}} </p>
        </div>
      </div>

      <hr class="mt-5 mb-5">

      <div class="d-flex justify-content-center mt-5 mb-5">
        <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
        <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
      </div>
    </div>
  </div>
</div>