@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&display=swap');

#jumbotron-main h1 {
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 10px;
    /*font-family: 'Amatic SC', cursive;*/
}

#cards-home p {
    font-family: 'Gloria Hallelujah', cursive;
}

#botoes-home-end a, button  {
    text-decoration: none;
    color: white;
}