<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 id="cadastro-titulo" class="text-center">
                Cadastre-se
            </h1>
        </div>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
        <div class="col-md-8">
            <div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome">
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
                        </div>
                        <div class="form-group">
                            <label for="inputState">Usuário</label>
                            <select id="inputState" class="form-control">
                                <option selected>Selecione</option>
                                <option>Fornecedor</option>
                                <option>Consumidor</option>                        
                            </select>
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                </div>

                <div class="form-group">
                    <label for="senhaConf">Confirme sua senha</label>
                    <input type="password" class="form-control" id="senhaConf" placeholder="Confirme sua senha">
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-success w-2">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>