@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');


.texto{
    letter-spacing: .2rem;
    font-size: 16pt;
}

a {
    cursor: pointer;
}

#navbar-main a {
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}