<div class="card container w-50 mt-5 mb-5 border-secondary  ">
    <div class="mt-5 mb-5 ">
        <form>
            <div class="mt-2 mb-5">
                <h2 class="text-center">Quer falar com a gente?</h2>
            </div>
            <div class="form-row ">

                <div class="form-group col-md-12">

                    <label for="inputNome4">Nome</label>
                    <input type="nome" class="form-control border-secondary" id="inputNome4"
                        placeholder="Nome completo">
                </div>

            </div>
            <div class="form-group">
                <label for="inputAddress">E-mail</label>
                <input type="text" class="form-control border-secondary" id="inputEmail" placeholder="email@valido.com">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAssunto">Assunto</label>
                    <input type="text" class="form-control border-secondary" id="inputAssunto"
                        placeholder="Digite aqui">
                </div>
                <div class="form-group col-md-6 ">
                    <label for="inputState">Usuário</label>
                    <select id="inputState" class="form-control border-secondary">
                        <option selected>Selecione</option>
                        <option>Fornecedor</option>
                        <option>Consumidor</option>
                        <option>Visitante</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto</label>
                <textarea class="form-control border-secondary" id="exampleFormControlTextarea1" rows="3" cols="8"
                    placeholder="Digite aqui"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Enviar</button>
        </form>
    </div>

</div>