<div class="container w-100">
    <div class="row w-100 mt-5 mb-5 ">
        <form>
            <div class="div mt-2 mb-5">
                <h2>Quer falar com a gente?</h2>
            </div>
            <div class="form-row ">
                
              <div class="form-group col-md-6">
                <label for="inputNome4">Nome</label>
                <input type="nome" class="form-control" id="inputNome4" placeholder="Digite aqui">
              </div>
              <div class="form-group col-md-6">
                <label for="inputSobrenome4">Sobrenome</label>
                <input type="sobrenome" class="form-control" id="inputSobrenome4" placeholder="Digite aqui">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">E-mail</label>
              <input type="text" class="form-control" id="inputEmail" placeholder="Digite aqui">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAssunto">Assunto</label>
                <input type="text" class="form-control" id="inputAssunto" placeholder="Digite aqui">
              </div>
              <div class="form-group col-md-6">
                <label for="inputState">Usuário</label>
                <select id="inputState" class="form-control">
                  <option selected>Selecione</option>
                  <option>Fornecedor</option>
                  <option>Consumidor</option>
                  <option>Visitante</option>
                </select>
              </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="8" placeholder="Digite aqui"></textarea>
              </div>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
    </div>
    
</div>
<div class="container mb-5 mt-5 ">
    <div class="row mb-5 justify-content-center">
        <div class=" d-flex justify-content-center ">
            <h2>Como está sendo sua experiência?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <h5>Tranquilo</h5>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <h5>Bom, mas com problemas</h5>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <h5>Precisa melhorar</h5>
        </div>
    </div>
    <div class="col-md-12 ">
        <div class="row">
            <div class="card col-md-4 tm bg-success d-flex "></div>
            <div class="card col-md-4 tm bg-warning d-flex "></div>
            <div class="card col-md-4 tm bg-danger d-flex "></div>
        </div>
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-12 p-0 ">
                    <input type="range" name="vol" value="0" min="0" max="100" class="w-100 form-control-range ng-untouched ng-pristine ng-valid">
                </div>
                <div class="div ">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>              
            </div>
        </div>
    </div>
</div>