<div class="container w-100" >
    <div class="row w-100 mt-5 mb-5 justify-content-center">
        <form>
            <div class="div mt-2 mb-5">
                <h2>Quer falar com a gente?</h2>
            </div>
            <div class="form-row ">

                <div class="form-group col-md-6">
                    <label for="inputNome4">Nome</label>
                    <input type="nome" class="form-control" id="inputNome4" placeholder="Digite aqui">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobrenome4">Sobrenome</label>
                    <input type="sobrenome" class="form-control" id="inputSobrenome4" placeholder="Digite aqui">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">E-mail</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Digite aqui">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAssunto">Assunto</label>
                    <input type="text" class="form-control" id="inputAssunto" placeholder="Digite aqui">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Usuário</label>
                    <select id="inputState" class="form-control">
                        <option selected>Selecione</option>
                        <option>Fornecedor</option>
                        <option>Consumidor</option>
                        <option>Visitante</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="8"
                    placeholder="Digite aqui"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>

</div>
