<div class="container">
    <nav>
        <div class="nav nav-tabs mt-5 mb-5" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Produto</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Categoria</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <!--POST DO PRODUTO-->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="col-md-12 mb-4">
                        <h1 id="titulos" class="text-center mb-4">Cadastre um novo Produto</h1>

                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Nome do Produto:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o produto"
                                [(ngModel)]='produto.nome'>
                        </div>
                        
                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Preço:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o preço"
                                [(ngModel)]='produto.preco'>
                        </div>

                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Quantidade:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui a quantidade"
                                [(ngModel)]='produto.quantidade'>
                        </div>

                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Imagem do Produto:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Upload"
                                [(ngModel)]='produto.imagem'>
                        </div>

                        <div class="form-group m-0 mb-3">
                            <label class="text-monospace" for="tema">Escolha uma Categoria ou 
                                <a routerLink="/cadastro-categoria">Cadastre uma Categoria</a> </label>
                            <select name="tema" id='categoria' class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                              <option *ngFor='let item of listaCategorias' value={{item.id}}>
                                {{item.nome}}
                              </option>
                           </select>
                          </div>
                          <div class="col-md-6 d-flex justify-content-end">
                              <button class="btn btn-success" (click)='cadastrarProduto()'>Cadastrar</button>
                          </div>

                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col" class="d-flex justify-content-end">Modificações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of listaProdutos'>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.nome}}</td>
                        <td>{{item.preco}}</td>
                        <td>{{item.quantidade}}</td>
                        <td class="d-flex justify-content-end">
                            <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-produto', item.id]">Editar</a>
                            <a class="btn btn-outline-danger"[routerLink]="['/delete-produto', item.id]">Apagar</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                <hr>

            </div>
        </div>
        <!--/POST DO PRODUTO-->


        <!--POST DA CATEGORIA-->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="col-md-12 mb-4">
                        <h1 id="titulos" class="text-center mb-4">Cadastre uma nova Categoria</h1>

                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Nome da Categoria:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui a categoria" [(ngModel)]='categoria.nome'>
                        </div>

                        <div class="form-group">
                            <label class="text-monospace" for="titulo">Nome do Setor:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o setor" [(ngModel)]='categoria.setor'>
                        </div>

                        <a class="btn btn-success" (click)='cadastrarCategoria()'>Cadastrar</a>
                    </div>
                </div>


                <hr>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Setor</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of listaCategorias'> 
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.nome}}</td>
                            <td>{{item.setor}}</td>
                            <td class="d-flex justify-content-end">
                                <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-categoria', item.id]">Editar</a>
                                <a class="btn btn-outline-danger"[routerLink]="['/delete-categoria', item.id]">Apagar</a>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div>
        <!--/POST DA CATEGORIA-->
    </div>
</div>