<!-- Footer -->
<footer id="footer-main" class="page-footer font-small bg-success pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="#" class="icoFacebook" title="Facebook">
                 <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                </a></li>
               <li><a href="#" class="icoInstagram" title="Instagram">
                 <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                </a></li>
               
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="footer-copyright">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" href="/home">Do Campo Pra Mesa™</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->