<div id="titulo-quem-somos" class="jumbotron text-center">
    <h1 class="display-4">Quem é a Do Campo pra Mesa? </h1>
    <p class="lead justify-content-center">A Do Campo para a mesa é uma empresa que conecta o pequeno produtor de orgânicos à mesa dos grandes centros urbanos.</p>
    <hr class="text-justify">
    <p class="text-justify">Somos um e-commerce onde você encontrará produtos de agricultores(as) e também parceiros que têm convênio com instituições de caridade do ramo da alimentação e que, diante da compra de produtos, repassem parte das vendas para doações.</p>

    <p class=" text-justify">
        Somos um e-commerce onde você encontrará produtos de agricultores(as) e também parceiros que têm convênio com instituições de caridade do ramo da alimentação e que, diante da compra de produtos, repassem parte das vendas para doações.
    </p>

    <p class="text-justify">
        O que: Acabar com a fome, alcançar a segurança alimentar e melhoria da nutrição e promover a agricultura sustentável — Objetivo 2 da ONU.
    </p>

    <p class="text-justify">
        Por quê: Índices de fome e extrema pobreza aumentaram ainda mais em
        tempos de pandemia do COVID-19. Além disso, produtores rurais estão
        enfrentando dificuldades para cultivar e distribuir alimentos.
    </p>

    <p class="text-justify">
        Como: Divulgando empresas e sites de instituições que trabalhem com
        arrecadação e doação de alimentos saudáveis para pessoas em situações
        vulneráveis e crianças. Trabalhando como mediador entre consumidor e
        produtor, oferecendo descontos em próximas compras ou garantindo que
        parte do valor da venda vá para a caridade.
    </p>
  </div>
<div id="titulo-quem-somos" class="container">
    <div class="row">
      <div class="col-12">

         <div class="container mt-5">
            <div class="row">
              <div class="col-6 d-flex justify-content-center mt-10">
                <p id="depoimento"class="mt-10 text-justify">
                    "Nós pequenos produtores fomos diretamente afetados pela pandemia, tivemos prejuizo muito grande. A Do campo para a mesa surgiu em ótimo momento pois atraves do portal deles conseguimos divulgar nossos produtos e não só revertemos o cenário de prejuízo como também tivemos um lucro de 200% a mais. A plataforma é simples e de fácil cadastro"
                </p>

              </div>
              <div class="col-6">
                <img src="https://i.imgur.com/pgiF9NT.jpg" class="d-block w-100" alt="Foto da Dona Sônia agricultora">
              </div>
            </div>

        </div>

        <div class="container">
            <div class="row mb-5">
              <div class="col-6">
                <img src="https://i.imgur.com/pgiF9NT.jpg" class="d-block w-100" alt="Foto da Dona Sônia agricultora">
              </div>
              <div class="col-6 d-flex justify-content-center mt-10">
                <p id="depoimento" class="text-justify">
                    "Nós pequenos produtores fomos diretamente afetados pela pandemia, tivemos prejuizo muito grande. A Do campo para a mesa surgiu em ótimo momento pois atraves do portal deles conseguimos divulgar nossos produtos e não só revertemos o cenário de prejuízo como também tivemos o dobro de lucro. A plataforma é simples e de fácil cadastro."
                </p>
              </div>
            </div>
        </div>
    </div>



