<div id="titulo-quem-somos" class="jumbotron text-center w-100">
  <h1 class="display-5">Quem é a Do Campo Pra Mesa? </h1>
  <p class="lead justify-content-center">A Do Campo Pra Mesa é uma empresa que conecta o pequeno produtor de
    orgânicos à mesa dos grandes centros urbanos.</p>
  <hr class="text-justify">
</div>

<div class="section">
  <div class="container text-center">
    <h1>QUEM SOMOS</h1>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center ">
        
        <p class=" text-justify mr-3 mt-5">
          Somos uma ideia que surgiu quando os efeitos da pandemia estavam se tornando maiores e afetando quem mais precisa.
          Nossa realidade se transformou e o setor de pequenos produtores sofreu como há anos não se via. Viemos para unir o
          pequeno produtor
          e consumidores. Nosso principal objetivo é reduzir a lacuna que surgiu entre esses dois grupos: direcionando
          produtos de qualidade
          para famílias que não podem se deslocar e prezam pela agricultura sustentável.
        </p>
  
        <div class="quem-somos">
          <img class="w-100" src="https://i.imgur.com/vcxQVbQ.jpg" alt="">
        </div>
    </div>
    
    </div>
  </div>
  
  <div class="container text-center mt-4 mb-4">
    <h1>VISÃO</h1>
    <div class="row ">   
      <div class="col-md-12 d-flex justify-content-center">
        <div class="quem-somos">
          <img class="w-100" src="https://i.imgur.com/dmSfr7O.jpg" alt="">
        </div>

        <p class="text-justify ml-3 mt-5"> Nosso objetivo é ser a conexão entre o produtor e o consumidor. Sabemos das dificuldades do
          agricultor e como a pandemia afetou
          todo o processo de colheita, distribuíção e venda final, além de todas as pessoas envolvidas que tiveram sua renda
          prejudicada e perda
          nas colheitas. Acreditamos que ações como a nossa possam reduzir a curva de pobreza, fome e desperdício que se
          tornou mais aguda no ano de 2020.</p>
        </div>
      </div>   
  </div>
  
  <div class="container text-center mt-4 mb-4">
    <h1>VALORES</h1>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <p class="text-justify mr-5 mt-5">
          Temos como base a humildade, melhoria contínua, respeito ao meio ambiente e às pessoas.
      </p>

      <div class="quem-somos">
        <img class="w-100 mt-4" src="https://i.imgur.com/O7tGEmQ.jpg" alt="">
      </div>
      </div>
    </div>
  </div>    
  
</div>

<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
      <h1 class="display-4">Relatos</h1>
      <p class="lead">Entenda o porquê é importante nossa conexão</p>
  </div>
</div>

<div id="titulo-quem-somos" class="container ">
  <div class="row">
    <div class="col-12">

      <div class="container mt-5">
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <p id="depoimento" class="text-justify">
              "Nós pequenos produtores fomos diretamente afetados pela pandemia, tivemos prejuizo muito grande. A Do
              campo para a mesa surgiu em ótimo momento pois atraves do portal deles conseguimos divulgar nossos
              produtos e não só revertemos o cenário de prejuízo como também tivemos um lucro de 200% a mais. A
              plataforma é simples e de fácil cadastro"
            </p>

          </div>
          <div class="col-6">
            <img src="https://i.imgur.com/pgiF9NT.jpg" class="d-block w-100" alt="Foto da Dona Sônia agricultora">
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6">
            <img src="https://i.imgur.com/pgiF9NT.jpg" class="d-block w-100" alt="Foto da Dona Sônia agricultora">
          </div>
          <div class="col-6 d-flex justify-content-center mt-5">
            <p id="depoimento" class="text-justify">
              "Nós pequenos produtores fomos diretamente afetados pela pandemia, tivemos prejuizo muito grande. A Do
              campo para a mesa surgiu em ótimo momento pois atraves do portal deles conseguimos divulgar nossos
              produtos e não só revertemos o cenário de prejuízo como também tivemos o dobro de lucro. A plataforma é
              simples e de fácil cadastro."
            </p>
          </div>
        </div>
      </div>
    </div>