@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&display=swap');
 h1, p{
    font-family: 'Gloria Hallelujah', cursive;
}

#depoimento{
    font-family: 'Gloria Hallelujah', cursive;
}

#fotos-dev {
   border-radius: 50%;
}
