<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-8">
          <div class="card mt-5">
             <div class="card-header">
                 <div class="row d-flex align-items-center">
                     <div class="col-md-8">
                         <h5 class="card-title">{{produto.nome}} </h5>
                         <small class="mr-2">Preço: {{produto.preco}}</small>
                         <small>Quantidade: {{produto.quantidade}}</small>
                         <small class="disponivel">Categoria: {{produto.disponivel}}</small>
                     </div>
                     <div class="col-md-4 d-flex justify-content-end">
                     </div>
                 </div>
             </div>
  
          <hr class="mt-4 mb-4">
  
          <h5 class="text-center">Tem certeza que deseja apagar esse produto?</h5>
          <div class="d-flex justify-content-center mt-5">
             <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
             <button class="btn btn-outline-danger" (click)="btnNao()" >Não</button>
          </div>
        </div>
    </div>
  </div>