<div class="container">

    <div class="row mt-5 mb-5 d-flex justify-content-center ">
        <div class="col-md-8">
          <div class="card mt-5">
             <div class="card-header">
                 <div class="row d-flex align-items-center">
                     <div class="col-md-8">
                         <h2 class="card-title">{{produto.nome}} </h2>
                         <small class="mr-5">Preço: {{produto.preco}}</small>
                         <small class="mr-5">Quantidade: {{produto.quantidade}}</small>
                         <small class="disponivel">Categoria: {{produto.categoria.nome}}</small>
                     </div>
                     <div class="col-md-4 d-flex justify-content-end">
                     </div>
                 </div>
             </div>
  
          
  
          <h3 class="text-center mt-5">Tem certeza que deseja apagar esse produto?</h3>
          <div class="d-flex justify-content-center mt-5 mb-5">
             <button class="btn btn-success mr-3" (click)="btnSim()">Sim</button>
             <button class="btn btn-danger ml-3" (click)="btnNao()" >Não</button>
          </div>
        </div>
    </div>
  </div>